/* variables declared here - these are the colors for our pages, as well as the font stacks and sizes. */
:root {
    --black: #2E4159;
    --dkblue: #F2A413;
    --plum: #D9C6B0;
    --hotmag: #BF2B0A;
    --magenta: #F2B90F;
    --aqua: #F2CD13;
    --white: #f7f8fa;
    --font-size: 1rem;

    --mono: "poppins", monospace;
    --sans: Inter, sans-serif;
}
/* border box model: https://css-tricks.com/box-sizing/ */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--mono); /* Use the --font varaible to load it from :root section*/
    background-color: var(--black);
    color: var(--white);
    font-size: var(--font-size);
}
h1, h2, h3 {
    margin: 0;
}
a{
    color: var(--magenta);
}
a:hover{
    color: var(--hotmag);
    text-decoration: none;
}
/* Intro Styles */

#intro {
    padding-bottom: 10rem;
}
#into p {
    font-size: .9rem;
    line-height: 1.5;
}

#intro .name{
    font-family: var(--mono);
}

.name span{
    font-family: var(--sans);
    font-size: 4rem;
    color: var(--aqua);
    display: block;
}

#intro h2 {
    font-size: 2rem;
}

#contact-me {
    text-align: center;
    width: 400px;
    margin: 0 auto;
    padding: 3rem 0;

}

#contact-me h3 {
    font-family: var(--sans);
    font-size: 2rem;
}

nav{
    font-family: var(--mono);
    font-size: 80%;
    padding: 1rem;
}

nav li h1 a{
    font-family: var(--sans);
}

nav ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex; 
    flex-direction: row wrap; 
    justify-content: center;  
    align-items: center;
    gap: 2rem;

}
